nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


nav ul li {
	float: right;
}

nav ul li a {
	display: block;
	width: 50px;
	color: #6e6e6e;
	font-size: 15px;
}

button {
	width: 130px;
	height: 35px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
	color: #6e6e6e;
}

#logo {
	display: block;
	margin: auto;
	width: 350px;
	padding-top: 75px;
	padding-bottom: 10px;
}

input {
	display: block;
	margin: auto;
	width: 450px;
	height: 30px;
	font-size: 20px;
}

#buttons {
	display: block;
	margin: auto;
	width: 266px;
	padding-top: 30px;
}